<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_action_predispatch">
        <observer name="Magentomobileshop_Connector_Observer_ControllerActionPredispatch" 
        	instance="Magentomobileshop\Connector\Observer\ControllerActionPredispatch" shared="false"   />
    </event>
</config>
